<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DEMOQA suite">
<listeners>
<listener class-name="com.DemoQA.utilities.Reports"></listener>
</listeners>
  <test  name="Test DEMOQA">
  <parameter name="browser" value="chrome">
  </parameter>
    <classes>
      <class name="com.DemoQA.testcases.TC_01_Elements_TextBOX"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- DEMOQA suite -->
